*{
    box-sizing: border-box;
}
section{
    padding: 100px 0;
}
.title {
    font-size: 48px;
    font-weight: 700;
    color: #151515;
    margin-bottom: 20px;
}
.section-para {
    font-size: 26px;
    line-height: 1.7;
}
.sub-title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
}
.btn_2{
    background-color:  #00A6A2;
}